<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order placed</title>
</head>
<body>
    <p>Hello {{name}}! <p>
  <p>Thank you for placing order through us. Your order number is . </p>
  <p>Regards, </p>
  <b>Team chaavie </p>
</body>
</html>